<!DOCTYPE html>
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %title Document
%body
  %div
    %h1 Litle app to recompile HAML to html.
  %div
    %ol
      %li
        %span Add or modify templates in folder
        %b haml-templates
      %li
        %span run
        %b ruby compile.rb
      %li
        %span enjoy!

    %a{:href => "index.html"}Back to main page
